# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

**/.DS_Store

# JetBrains IDE
.idea

third-party/sdl-build/
third-party/SDL2/
/build/
/compile_commands.json

/source/simple
/source/gameview
/tests/build/run_tests
/tests/build

/demos/WebUI/*.data
/demos/WebUI/*.js
/demos/WebUI/*.wasm
/demos/WebUI/*.wasm.map
/demos/*_demo*

interactive_world_save.json

# ====== Doxygen Output ======
# The folder where the result reports generated after each Doxygen scan are stored
# (config this in your Doxyfile: OUTPUT_DIRECTORY = ./doxygen-output)
doxygen-output

# ====== Doxygen Warnings ======
# The file where Doxygen warnings are logged
# (config this in your Doxyfile: WARN_LOGFILE = ./doxygen-warnings.log)
doxygen-warnings.log
sdl-render-uml.mmd
